/* --------------CSS by Jonathan Newkirk----------------- */

/* IMPORTED FONTS */
/* Import "Inter" from Google Fonts - include common weights and italics */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,400;1,700&display=swap');


/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: var(--font);
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
    --blue: #007BFF;
    --red: #FF4500;
    --white: #EAEAEA;
    --black: #000000;
    --charcoal: #333333;
    --font: "Inter", sans-serif;
}

/* GLOBAL STYLES (MOBILE FIRST (SMALL) */

/* MIN-WIDTH OF THE PAGE SHOULD NOT GO BELOW 400PX */

body {
  height: 100vh;
  display:grid;
  min-width: 400px;
  grid-template-columns:1fr;
  grid-template-rows:1fr;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--black);
    color: var(--white);
    padding: 2rem;
    box-shadow: #007BFF 0px 10px 20px;
    z-index: 1;
}

header h1{
    color: var(--blue);
    font-weight: bold;
    margin-left: 4.5rem;
    margin-bottom: 5px;
    font-size: 1.5rem;
}

.hamburger-menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 22px;
  cursor: pointer;
}

.hamburger-menu span{
  display: block;
  height: 4px;
  width: 100%;
  background: var(--white);
  border-radius: 2px;
}

.nav-links{
  display: none;
}

h2{
    font-size: 1.5rem;
    font-weight: bold;
    display: grid;
    padding: 1rem;
    margin-left: 1rem;
}

h3{
    font-size: 1rem;
    font-weight: bold;
    display: grid;
    padding: 1rem;
    margin: 1rem 0 0 0;
}

p{
    font-size: .75rem;
    line-height: 1.5;
    padding: 0 1rem 1rem 1rem;;
}


/* ADD A DIV WITH THE CLASS OF CONTAINER TO EVERY CONTENT CONTAINER THIS IS ALLOW THE BASE ELEMENTS TO BE 100% WIDTH, BUT CONSTRAIN THE ACTUAL CONTENT TO 90% */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* ADD TO "INNOVATION & INVESTMENT SECTION (Photo by Kevin Matos on Unsplash) */
 #innovation-investment-section{
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('images/vanguard-hero.jpg') no-repeat center center/cover;
    height: 80vh;
    display: grid;
    place-items: center;
    text-align: center;
    padding: 1rem;
    overflow: hidden;
}

/* ADD FLOATING SVG LOGO BEFORE THE H1 */
#logo{
    position: absolute;
    width: 3.75rem;
    height: 3.75rem;
    background: url('images/vanguard-logo.svg') no-repeat center/contain;
}

#innovation-investment-section h2{
    color: var(--white);
    font-size: 2rem;
    font-weight: bold;
}

#innovation-investment-section p{
    color: var(--white);
    font-size: 1rem;
    line-height: 1.5;
    margin: 1.5rem 1rem;
}

.blue-card{
    background-color: var(--blue);
    color: var(--white);
    border-radius: .5rem;
    margin: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

#results{
    background-color: var(--blue);
    color: var(--white);
    padding-bottom: 2rem;
}

#profits-table{
    width: 100%;
    background-color: var(--black);
    margin: 1rem 0;
    color:var(--white)
    
}

th{
    padding: 20px;
    text-align: center;
    font-weight: bold;
    border: 2px solid var(--charcoal);
}

td{
    background-color: var(--White);
    padding: 20px;
    text-align: center;
    border: 2px solid var(--charcoal);
}

tr:nth-child(even) {
  background-color: var(--charcoal);
}


/* THIS ONE IS DONE FOR YOU */
#bar-chart {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: flex-end;
    justify-content: space-around;
    gap: 1rem;
    height: 300px;
    width: 80%;
    max-width: 800px;
    padding: 1rem;
    position: relative;
    margin:auto;
}

#contact-us{
    background-color: var(--black);
    color: var(--white);
}

form{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    font-size: .75rem;
    gap: 5px;
}

form input,
form textarea {
  width: 100%;
  padding: 1rem;
  border: 2px solid var(--blue);
  border-radius: 0.25rem;
  font-family: var(--font);
  font-size: 1rem;
  box-sizing: border-box;
}

form button {
  background-color: var(--blue);
  color: var(--white);
  border: none;
  border-radius: 0.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
  width: 100%;
}

button {
  background-color: var(--blue);
  color: var(--white);
  border: none;
  border-radius: 0.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
  width: 300px;
}

footer{
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    padding: 1rem;
    font-size: .75rem;
}

footer a{
    color: var(--white);
    text-decoration: none;
}


/* ADD ON TRANSITION ON HEIGHT */
.bar {
    width: 50px;
    background: var(--charcoal);
    border-radius: 10px;
    position: relative;
    height: 20%;
    transition: height 1s ease-in-out;
}


/* THIS ONE IS DONE FOR YOU */
.bar::after {
    content: attr(data-year);
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    font-weight: bold;
    color: var(--white);
}

@keyframes stepUp {
    0% {
        height: 0;
    }
    100% {
        height: var(--height);
    }
}

/* ADD ANIMATION ON stepUp for 1s ease-in-out forwards */
.bar {
    animation: stepUp 1s ease-in-out forwards;
}


/* ===== MEDIA QUERIES (MEDIUM) ===== */
@media (min-width: 768px) {


    #growth-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
    }

    #results {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
    }

    #profits-table {
        width: 90%;
        margin: auto;
    }

    #bar-chart {
        max-width: 800px;
        width: 100%;
        margin: auto;
    }

    /* Make blue cards display in two columns */
    #services .blue-card {
        width: 45%;
        display: inline-block;
        vertical-align: top;
    }

}


/* ===== MEDIA QUERIES (LARGE) ===== */
@media (min-width: 1024px) {

   #growth-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 100%;
        align-items: center;
        gap: 2rem;
        padding: 2rem;
    }

    header {
        padding: 3rem 6rem;
    }

    header h1 {
        font-size: 2rem;
    }

    #innovation-investment-section h2 {
        font-size: 2.5rem;
    }

    #services p h2{
        text-align: center;
    }


    #services .blue-card {
        width: 30%;
        display: inline-block;
        margin: 1rem;
    }

    #results {
        display: flex;
        grid-template-columns: 1fr 1fr;
        max-width: auto;
        margin: auto;
        justify-content: center;
        text-align: left;
    }

    #bar-chart {
        max-width: 1024px;
        width: 100%;
        margin: auto;
    }

    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 1000px;
        justify-content: center;
        margin: 0 auto;
        align-items: start;
        gap: 1rem 2rem;
    }



}